{% extends 'base.html.twig' %}

{% block title %}Quiz - {{nomeArgomento|replace({'-':' '})}} {% endblock %}

{% block body %}
    {% import "macros/_navbar.html.twig" as navbar %}
    {{ navbar.navbar()}}
    <div class="m-2 d-flex flex-column align-items-center">
        {% if punteggioFinale >= (puntiTotali / 2) %}
            <h1 calss="display-6">Risultato: {{punteggioFinale}}/{{puntiTotali}}!</h1>
            <h2>Ottimo lavoro!<h2>
        {% else %}
            <h1 calss="display-6">Risultato: {{punteggioFinale}}/{{puntiTotali}}</h1>
            <h2>Peccato!</h2>
            <p><a href="{{path('app_quiz_argomento', { nomeArgomento: nomeArgomento })}}" class="btn btn-outline-success bg-gradient">Riprova</a></p>
        {% endif %}
    </div>
{% endblock %}